{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
